<div class="col-md-offset-2 col-md-8">
  <h2><%= @group.name %></h2>
  <hr>
  <button class="btn btn-lg btn-primary btn-analyze" id="analyze" data-toggle="modal" data-target="#forms">+ Sentiment Analysis</button>
  <div class="address-group"><%= @group.street_address %>, <%= @group.city %>, <%= @group.state %> <%= @group.zip_code %></div>
</div>

<div class="col-md-offset-2 col-md-8">
  <h4><%= "Twitter Searches" if @group.twitter_searches.any? %></h4>
  <ol>
    <% @group.twitter_searches.each do |twitter_search| %>
      <li id="<%= twitter_search.id %>">
        <%= link_to twitter_search.search_query, group_twitter_search_path(@group, twitter_search) %>
        <img class="sentiment-img" src="<%= asset_path(twitter_search.sentiment_image) %>" alt="green-arrow">
        <a href="#" class="rm-twitter" aria-hidden="true">
          <img class="delete-icon" src="<%= asset_path('delete-icon.png') %>">
        </a>
      </li>
    <% end %>
  </ol>

  <h4><%= "Documents" if @group.documents.any? %></h4>
  <ol>
    <% @group.documents.each do |document| %>
      <li id="<%= document.id %>">
        <%= link_to document.title, group_document_path(@group, document) %>
        <img class="sentiment-img" src="<%= asset_path(document.sentiment.sentiment_image) %>" alt="green-arrow">
        <a href="#" class="rm-doc" aria-hidden="true">
          <img class="delete-icon" src="<%= asset_path('delete-icon.png') %>">
        </a>
      </li>
    <% end %>
  </ol>
  <br/>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="forms">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#twitter_search" aria-controls="home" role="tab" data-toggle="tab">Analyze Twitter Data</a></li>
          <li role="presentation"><a href="#document" aria-controls="profile" role="tab" data-toggle="tab">Analyze Document</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="twitter_search">
            <%= render 'shared/twitter_searches_form' %>
          </div>
          <div role="tabpanel" class="tab-pane" id="document">
          <%= render 'shared/document_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
