<!--  ERRORS -->
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<!--  USER SIGN UP FORM -->
<%= form_for @user do |f| %>
  <div><%= f.text_field :first_name, placeholder: 'First Name' %></div>
  <div><%= f.text_field :last_name, placeholder: 'Last Name' %></div>
  <div>
    <%= f.radio_button :business_account, 'false', checked: true %>
    <%= f.label :business_account_false, 'Personal' %>
    <%= f.radio_button :business_account, 'true' %>
    <%= f.label :business_account_true, 'Business' %>
  </div>
  <div><%= f.email_field :email, placeholder: 'Email' %></div>
  <div><%= f.password_field :password, placeholder: 'Password' %></div>
  <div><%= f.password_field :password_confirmation, placeholder: 'Password Confirmation'%></div>
  <div><%= f.submit %>
<% end %>
