<h4>Upload Document</h4>
<hr>
<div><%=flash[:error]%></div>

<%=form_for [@group, @document] do |f| %>
	<div>
		<%= f.label :title, 'Document Title' %></br>
		<%= f.text_field :title, placeholder: 'Title' %>
	</div>

	<div>
		<%= f.label :text, 'Upload File' %></br>
		<%= f.file_field :text %>
	</div>

	<div>
		<%= f.submit %>
	</div>
<% end %>
