<h4>Search Tweets</h4>
<hr>
<div class="form-group">
  <div class="row">
    <div class="col-md-4">
      <%= form_tag group_tweets_path(@group) do %>
        <div>
          <%= text_field_tag :search_parameter, nil, placeholder: "Enter Twitter Search Parameter", class: "form-control" %>
        </div>
        <div>
          <%= collection_select :language_code, :id, LanguageCode.all, :name, :name, selected: 'English', class: "form-control" %>
        </div>
        <div>
          <%= number_field_tag :tweet_count, value = 50, class: "form-control" %>
        </div>

        <div>
          <%= radio_button_tag :result_type, 'recent', checked: true  %>
          <%= label_tag :result_type_recent, 'Recent'%>
          <%= radio_button_tag :result_type, 'popular' %>
          <%= label_tag :result_type_popular, 'Popular' %>
          <%= radio_button_tag :result_type, 'mixed' %>
          <%= label_tag :result_type_mixed, 'Mixed' %>
        </div>
        <div>
          <%= submit_tag "Submit", class: "btn btn-md btn-default"  %>
        </div>
      </div>
    </div>
  </div>
<% end %>
