<h1>Upload Document</h1>
<div><%=flash[:error]%></div>

<div class="form-group">
  <%=form_for [@group, @document] do |f| %>
  	<p>
  		<%= f.label :title, 'Document Title' %></br>
  		<%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
  	</p>

  	<p>
  		<%= f.label :text, 'Upload File' %></br>
  		<%= f.file_field :text %>
  	</p>
  	<%= f.submit %>
  <% end %>
</div>
