<h1><%= @document.title %></h1>

<h2>Overall Sentiment</h2>

<h2><%= @document.sentiment.display_sentiment %></h2>
<h2>Polarity Score</h2>
<h2><%= @document.sentiment.polarity_score %></h2>
<h2>Sentiment Percentage</h2>
<h2><%= @document.sentiment.sentiment_percentage %>%</h2>

<p><%= @document.text %></p>
