<div class="col-md-12">
  <h2><%= @twitter_search.search_query %></h2>
  <h3>Overall Sentiment: <%= @average_sentiment %>%</h3>

  <% @tweets_information.each do |tweet_info| %>
    <div class="twitter-tweet">
      <img src="<%= tweet_info.profile_image_url %>" class="twitter-profile-picture"/>

      <div class="twitter-score">
        Polarity Score: <%= tweet_info.polarity_score %></br>
        Sentiment Percentage: <%= tweet_info.sentiment_percentage %>%
      </div>

      <div class="twitter-username">
        <%= tweet_info.name %>
      </div>

      <div class="twitter-text">
        <%= tweet_info.text %>
      </div>
    </div>
  <% end %>
</div>
