<h1><%= @twitter_search.search_query %></h1>


<% @twitter_search.tweets.each do |tweet| %>
  <img src="<%= tweet.profile_image_url %>"/>
  <%= tweet.text %>
  <%= tweet.sentiment.sentiment_percentage %>%
  <%= tweet.sentiment.polarity_score %>
  <%= tweet.sentiment.display_sentiment %>
  <br />
<% end %>

<h2>Overall Sentiment</h2>
<h2><%= @twitter_search.aggregate_sentiment %>%</h2>
