<div class="col-md-12">
  <!-- TOC -->
  <div class="sentiment-percentage">
    <%= @twitter_search.search_query %>
    <%= image_tag @twitter_search.sentiment_image, class: 'twitter-search-sentiment-image' %>
    <%= @average_sentiment %>%
  </div>
  <hr>

  <!-- WORD CLOUD -->
  <div class="panel panel-default">
    <div class="panel-heading data-header">Word Cloud</div>
    <div class="panel-body">
      <div id="word-cloud" data-twitter-search="<%= @twitter_search.id %>"></div>
    </div>
  </div>
  <hr>

  <!-- TWEETS -->
  <button class="btn btn-primary tweet-toggle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Show Tweets </button>

  <div class="collapse" id="collapseExample">
    <% @tweets_information.each do |tweet_info| %>
      <div class="twitter-tweet">
        <img src="<%= tweet_info.profile_image_url %>" class="twitter-profile-picture"/>

        <div class="twitter-score">
          Polarity Score: <%= tweet_info.polarity_score %></br>
          Sentiment Percentage: <%= tweet_info.sentiment_percentage %>%
        </div>

        <div class="twitter-username">
          <%= tweet_info.name %>
        </div>

        <div class="twitter-text">
          <% tweet_info.text.split.each do |word| %>
            <%= render  partial: "shared/word_highlighting", locals: {word: word}  %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
